.background {
  background-color: #4e95ff;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(../../public/landing_img.png);
  background-size: 100% auto;
  background-position: left bottom;
  background-repeat: no-repeat;
}

.text_box {
  margin-top: 120px;
  margin-left: 60px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  .text {
    margin: 0;
    font-family: Pretendard;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -2.8px;
    font-size: 7vw;
    color: #fff;
    z-index: 3;

    &::after {
      content: ".";
      color: #ff547d;
    }
  }

  .dot {
    position: relative;
    width: 1vw;
    height: 1vw;
    flex-shrink: 0;
    border-radius: 999px;
    background-color: #ff547d;
    bottom: 1.8vw;
    left: 0.5vw;
  }
}

.img {
  position: relative;
  display: flex;
  background-color: aliceblue;
  z-index: 1;
  width: 100vw;
  bottom: 100px;
}

@media (max-width: 1048px) {
}

@media (max-width: 1048px) {
  .background {
    background-size: 200% auto;
  }

  .text_box {
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 10px;

    .text {
      font-size: 50px;
    }
  }
}
